extends layout 

block content 
    .detail
        .containerDetail
            h1.title Task title 
            h3.datetime Due: 10.30.2002
            p.description Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat molestiae modi, voluptate, eligendi amet nam ipsa tempora esse quos laboriosam officiis dolorem fugiat, dicta facere temporibus iusto! Iste, quis accusamus?
    .circle.detail
    .circle.detailone
