extends layout 

block content 
    .detail
        .containerDetail
            h1.title #{ task.title }
            h3.datetime Due #{ task.datetime }
            p.description #{ task.description }
    .circle.detail
    .circle.detailone
