extends layout.pug 

block content 
    .container_main
        .container 
            h1 Tick as a way to manage your tasks
            p This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service
            a(href="/create")  Create task
        .container_img 
            img(src='static/images/glass.png')