doctype html
html(lang="en")
    head
        title Tick

    body
        header.navbar 
            h1  
                a(href="/") To do list app 
                a(href="/") 
                    img(src='static/images/logo.png')

            nav.nav 
                a(href="/tasks")  All tasks
                a(href="/archive") Archive
        block content