doctype html
html(lang="en")
    head
        title Tick
        link(rel="stylesheet", href="/static/styles.css")
        link(rel='icon' href='/static/images/logo.png' type='image/icon type')
    body
        header.navbar 
            .logo
                a(href="/") 
                    img(src='/static/images/logo.png')
                h1  
                    a(href="/") Tick 

            nav.nav 
                a(href="/tasks")  All tasks
                a(href="/saved")  Favourites
        block content