extends layout 

block content 
    .circle 
    .circleSecond
    .circleThird
    .containerAllTasks
        h1 Favourites

        each task in tasks 
            .task_wrapper
                .taskTitle
                    a.task(href='/tasks/' + task.id)= task.title
                .buttons
                    a(href="/tasks/" + task.id + "/delete").delete Delete
                    a.unsave(href="/tasks/" + task.id + "/unsave") Back to list

