extends layout 

block content 
    .circle 
    .circleSecond
    .circleThird
    .containerAllTasks
        h1 All tasks 

        each task in tasks 
            .task_wrapper
                .taskTitle
                    input.checkbox(type="checkbox" value="1" name="checkbox")
                    a.task(href='/tasks/' + task.id)= task.title
                .buttons
                    a(href="/tasks/" + task.id + "/delete").delete Delete
                    a.save(href="/tasks/" + task.id + "/saved") Save
                    a.edit(href="/tasks/" + task.id + "/edit") Edit

