extends layout 

block content 
    .containerForm
        h1 All tasks 

        each task in tasks 
            .task-wrapper
            input.checkbox(type="checkbox" value="1" name="checkbox")
            a.task(href='#')= task
            a.delete(href='#') Delete
